{
  "extends": "airbnb",
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "linebreak-style": "off",
    "import/newline-after-import": "off",
    "comma-dangle": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
